/*========================================
              RESET
========================================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Vazirmatn",sans-serif;
}


html{
    scroll-behavior:smooth;
}



body{

    direction:rtl;

    min-height:100vh;

    background:#0f1115;

    color:#f5f5f7;

    overflow-x:hidden;

}



/*========================================
              THEME
========================================*/


:root{

    --bg:#0f1115;

    --card:#17191f;

    --card-soft:#1c1f26;

    --border:
    rgba(255,255,255,.08);


    --text:
    #f5f5f7;


    --muted:
    #8b8f98;


    --primary:
    #ffffff;


    --blue:
    #0a84ff;


}



/*========================================
              PAGE
========================================*/


.login-page{

    width:100%;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    position:relative;

    padding:20px;

    overflow:hidden;

}






/*========================================
          BACKGROUND GLOW
========================================*/


.background-glow{


    position:absolute;

    width:500px;

    height:500px;


    top:-180px;

    left:50%;

    transform:translateX(-50%);


    background:

    radial-gradient(

    circle,

    rgba(255,255,255,.12),

    transparent 65%

    );


    filter:blur(80px);


    pointer-events:none;


}






/*========================================
          LOGIN CARD
========================================*/


.login-card{


    width:400px;


    background:

    rgba(23,25,31,.85);



    border:

    1px solid var(--border);



    border-radius:26px;



    padding:35px;



    position:relative;



    backdrop-filter:

    blur(20px);



    -webkit-backdrop-filter:

    blur(20px);



    box-shadow:

    0 30px 80px rgba(0,0,0,.45);



    z-index:2;



    animation:

    cardEnter .6s cubic-bezier(.22,1,.36,1);

}




/*========================================
          CARD ANIMATION
========================================*/


@keyframes cardEnter{


    from{

        opacity:0;

        transform:

        translateY(25px)

        scale(.96);

        filter:blur(8px);

    }



    to{


        opacity:1;

        transform:

        translateY(0)

        scale(1);


        filter:blur(0);


    }


}






/*========================================
          PANEL HEADER
========================================*/


.panel-header{


    text-align:center;


    margin-bottom:30px;


}




/*========================================
             LOGO
========================================*/


.panel-logo{


    width:70px;

    height:70px;


    margin:0 auto 18px;


    display:flex;


    align-items:center;


    justify-content:center;


    position:relative;


}



.panel-logo img{


    width:55px;


    height:55px;


    object-fit:contain;


    position:relative;


    z-index:2;


}



.logo-glow{


    position:absolute;


    inset:0;


    border-radius:50%;


    background:

    radial-gradient(

    circle,

    rgba(255,255,255,.2),

    transparent 70%

    );


    filter:blur(15px);


}




/*========================================
          TITLE
========================================*/


.panel-header h1{


    font-size:25px;


    font-weight:800;


    color:var(--text);


    margin-bottom:10px;


}



.panel-header p{


    font-size:14px;


    color:var(--muted);


    line-height:2;


}




/*========================================
              LOGIN FORM
========================================*/


.login-form{

    width:100%;

}




/*========================================
              INPUT BOX
========================================*/


.input-box{


    width:100%;


    height:56px;


    position:relative;


    margin-bottom:16px;


}





.input-box input{


    width:100%;


    height:100%;


    border-radius:16px;



    border:

    1px solid rgba(255,255,255,.08);



    background:

    #111318;



    color:var(--text);



    outline:none;



    padding:

    0 55px 0 45px;



    font-size:14px;



    transition:.3s;



    direction:rtl;



}



.input-box input::placeholder{


    color:#686d78;


}




.input-box input:focus{


    border-color:

    rgba(255,255,255,.25);



    background:

    #15181e;



    box-shadow:

    0 0 0 4px rgba(255,255,255,.04);



}





/*========================================
              INPUT ICON
========================================*/


.input-icon{


    position:absolute;


    right:14px;


    top:50%;


    transform:translateY(-50%);



    width:34px;


    height:34px;



    border-radius:11px;



    display:flex;


    align-items:center;


    justify-content:center;



    background:

    rgba(255,255,255,.06);



    color:#aeb4c0;



    font-size:14px;



    transition:.3s;



}




.input-box:focus-within .input-icon{


    background:

    rgba(255,255,255,.12);



    color:white;



}






/*========================================
              PASSWORD EYE
========================================*/


.password-eye{


    position:absolute;


    left:15px;


    top:50%;


    transform:translateY(-50%);



    background:none;


    border:none;



    color:#777d89;



    cursor:pointer;



    font-size:15px;



    transition:.3s;


}




.password-eye:hover{


    color:white;


}








/*========================================
              OPTIONS
========================================*/


.form-options{


    display:flex;


    justify-content:space-between;


    align-items:center;



    margin:

    5px 0 22px;



    font-size:13px;



    color:var(--muted);



}





.remember{


    display:flex;


    align-items:center;


    gap:8px;



    cursor:pointer;


}





.remember input{


    width:15px;


    height:15px;



    accent-color:white;



}






.form-options a{


    color:#d5d8df;


    text-decoration:none;



    transition:.3s;



}



.form-options a:hover{


    color:white;


}



/*========================================
              ERROR MESSAGE
========================================*/


.login-error{


    width:100%;


    min-height:0;


    height:0;


    opacity:0;


    overflow:hidden;



    display:flex;


    align-items:center;


    justify-content:center;



    margin-bottom:0;



    border-radius:14px;



    background:

    rgba(255,70,90,.08);



    border:

    1px solid rgba(255,70,90,.2);



    color:#ff7185;



    font-size:13px;



    transition:.35s;



}



.login-error.show{


    height:38px;


    opacity:1;



    margin-bottom:14px;


}






/*========================================
              SUCCESS MESSAGE
========================================*/


.login-success{


    width:100%;


    height:0;


    opacity:0;


    overflow:hidden;



    display:flex;


    align-items:center;


    justify-content:center;



    border-radius:14px;



    background:

    rgba(46,204,113,.08);



    border:

    1px solid rgba(46,204,113,.2);



    color:#42d883;



    font-size:13px;



    transition:.35s;



}




.login-success.show{


    height:38px;


    opacity:1;


    margin-top:12px;


}






/*========================================
              LOGIN BUTTON
========================================*/


.login-btn{


    width:100%;


    height:56px;



    border:none;


    border-radius:16px;



    background:

    #ffffff;



    color:#111318;



    display:flex;



    align-items:center;


    justify-content:center;



    gap:12px;



    cursor:pointer;



    font-size:15px;


    font-weight:700;



    transition:.3s;



    box-shadow:

    0 15px 35px rgba(0,0,0,.25);



}




.login-btn:hover{


    transform:

    translateY(-3px);



    box-shadow:

    0 20px 45px rgba(0,0,0,.35);



}



.login-btn:active{


    transform:

    scale(.97);


}



.login-btn i{


    transition:.3s;


}



.login-btn:hover i{


    transform:

    translateX(-5px);


}








/*========================================
              DIVIDER
========================================*/


.divider{


    width:100%;


    display:flex;


    align-items:center;



    gap:12px;



    margin:22px 0;



    color:#686d78;



}



.divider span{


    height:1px;


    flex:1;



    background:

    rgba(255,255,255,.08);


}




.divider p{


    font-size:13px;


}








/*========================================
              SOCIAL LOGIN
========================================*/


.social-login{


    width:100%;



    display:flex;



    gap:12px;



}





.social-btn{


    flex:1;



    height:48px;



    border-radius:14px;



    border:

    1px solid rgba(255,255,255,.08);



    background:

    #111318;



    color:#e5e7eb;



    display:flex;



    align-items:center;


    justify-content:center;



    gap:8px;



    cursor:pointer;



    font-size:13px;



    transition:.3s;



}





.social-btn:hover{


    background:

    #1d2027;



    border-color:

    rgba(255,255,255,.18);



    transform:

    translateY(-2px);



}



.social-btn i{


    font-size:17px;


}



.social-btn:first-child i{


    color:#4285f4;


}



.social-btn:last-child i{


    color:white;


}







/*========================================
              FOOTER
========================================*/


.panel-footer{


    margin-top:24px;



    text-align:center;



    color:var(--muted);



    font-size:13px;



}



.panel-footer a{


    color:white;


    text-decoration:none;



    font-weight:600;



    transition:.3s;



}



.panel-footer a:hover{


    opacity:.7;


}



/*==========================================
        LOGIN CARD
==========================================*/

.login-card{

    width:420px;

    min-height:520px;

    padding:35px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    position:relative;


    background:
    rgba(35,35,38,.75);


    border:

    1px solid

    rgba(255,255,255,.08);


    border-radius:24px;


    backdrop-filter:
    blur(25px);


    -webkit-backdrop-filter:
    blur(25px);


    box-shadow:

    0 30px 80px

    rgba(0,0,0,.45);


    animation:

    loginEnter .7s cubic-bezier(.22,1,.36,1);

}



@keyframes loginEnter{

    from{

        opacity:0;

        transform:

        translateY(30px)

        scale(.96);

        filter:blur(10px);

    }


    to{

        opacity:1;

        transform:

        translateY(0)

        scale(1);

        filter:blur(0);

    }

}



/*==========================================
            HEADER
==========================================*/


.panel-header{

    text-align:center;

    margin-bottom:35px;

}



.panel-logo{

    width:75px;

    height:75px;

    margin:

    0 auto 18px;


    display:flex;

    align-items:center;

    justify-content:center;


    position:relative;

}



.panel-logo img{

    width:55px;

    height:55px;

    object-fit:contain;

    position:relative;

    z-index:2;

}



.logo-glow{

    position:absolute;

    inset:0;


    border-radius:50%;


    background:

    radial-gradient(

        circle,

        rgba(0,122,255,.35),

        transparent 70%

    );


    filter:blur(18px);

}



.panel-header h2{

    color:

    var(--text-color);


    font-size:26px;

    font-weight:800;

    margin-bottom:10px;

}



.panel-header p{

    color:

    var(--text-muted);


    font-size:14px;

    line-height:2;

}




/*==========================================
            FORM
==========================================*/


.login-form{

    width:100%;

}




/*==========================================
            INPUT
==========================================*/


.input-box{

    width:100%;

    height:52px;

    position:relative;

    margin-bottom:16px;

}



.input-box input{

    width:100%;

    height:100%;


    border-radius:14px;


    border:

    1px solid

    rgba(255,255,255,.08);


    background:

    rgba(255,255,255,.05);


    color:white;


    outline:none;


    padding:

    0 50px 0 18px;


    font-size:14px;


    transition:.3s;


    font-family:"Vazirmatn",sans-serif;

}



.input-box input::placeholder{

    color:#8b8b93;

}



.input-box input:focus{


    border-color:

    rgba(0,122,255,.7);


    background:

    rgba(0,122,255,.08);


    box-shadow:

    0 0 25px

    rgba(0,122,255,.18);

}



/* آیکون */


.input-icon{

    position:absolute;

    right:14px;

    top:50%;

    transform:translateY(-50%);


    width:28px;

    height:28px;


    display:flex;

    align-items:center;

    justify-content:center;


    color:#8aa8ff;


}



.input-icon i{

    font-size:15px;

}



/* چشم رمز */


.password-eye{

    position:absolute;


    left:15px;

    top:50%;


    transform:

    translateY(-50%);


    color:#777;

    cursor:pointer;

    transition:.3s;

}


.password-eye:hover{

    color:#007aff;

}



/*=========================================
        LOGIN CARD
=========================================*/

.login-card{

    width:420px;
    max-width:92%;

    padding:35px;

    border-radius:24px;

    background:
    rgba(35,35,38,.85);

    border:
    1px solid rgba(255,255,255,.08);


    box-shadow:
    0 30px 80px rgba(0,0,0,.45);


    backdrop-filter:blur(25px);

    position:relative;

    z-index:5;

    animation:
    cardEnter .7s cubic-bezier(.22,1,.36,1);

}




@keyframes cardEnter{

    from{

        opacity:0;

        transform:
        translateY(40px)
        scale(.95);

        filter:blur(10px);

    }


    to{

        opacity:1;

        transform:
        translateY(0)
        scale(1);

        filter:blur(0);

    }

}




/*=========================================
        PANEL
=========================================*/


.login-panel{

    width:100%;

}



/*=========================================
        HEADER
=========================================*/


.panel-header{

    text-align:center;

    margin-bottom:28px;

}



.panel-logo{

    width:65px;

    height:65px;

    margin:auto;

    margin-bottom:15px;

    position:relative;

}



.panel-logo img{

    width:100%;

    height:100%;

    object-fit:contain;

}



.logo-glow{

    position:absolute;

    inset:-15px;

    background:

    radial-gradient(
    circle,
    rgba(0,122,255,.35),
    transparent 70%
    );


    filter:blur(20px);

    z-index:-1;

}



/*=========================================
        TITLE
=========================================*/


.panel-header h2{

    color:#fff;

    font-size:25px;

    font-weight:800;

}


.panel-header p{

    margin-top:8px;

    color:#929292;

    font-size:14px;

}




/*=========================================
        INPUT
=========================================*/


.input-box{

    width:100%;

    height:52px;

    position:relative;

    margin-bottom:16px;

}



.input-box input{


    width:100%;

    height:100%;


    border-radius:14px;


    border:

    1px solid rgba(255,255,255,.09);



    background:

    #252528;



    color:white;


    outline:none;



    padding:

    0 55px 0 45px;



    font-size:14px;



    transition:.3s;



}



.input-box input::placeholder{

    color:#777;

}




.input-box input:focus{


    border-color:#007aff;


    background:#29292d;


    box-shadow:

    0 0 20px rgba(0,122,255,.18);


}



/*=========================================
        ICON
=========================================*/


.input-icon{


    position:absolute;


    right:15px;


    top:50%;


    transform:translateY(-50%);



    width:32px;

    height:32px;



    display:flex;

    justify-content:center;

    align-items:center;



    border-radius:10px;



    background:

    rgba(0,122,255,.12);



    color:#4da3ff;



}



/*=========================================
        PASSWORD
=========================================*/


.password-eye{


    position:absolute;


    left:15px;


    top:50%;


    transform:translateY(-50%);



    color:#777;

    cursor:pointer;

    transition:.3s;


}



.password-eye:hover{

    color:#4da3ff;

}



/*=========================================
        OPTIONS
=========================================*/


.form-options{


    display:flex;


    justify-content:space-between;


    align-items:center;



    margin:15px 0 20px;



    font-size:13px;


    color:#888;



}



.form-options a{

    color:#4da3ff;

}



/*=========================================
        LOGIN BUTTON
=========================================*/


.login-btn{


    width:100%;


    height:52px;



    border:none;


    border-radius:14px;



    background:

    linear-gradient(
    135deg,
    #007aff,
    #4da3ff
    );



    color:white;



    font-size:15px;


    font-weight:700;



    cursor:pointer;



    display:flex;


    justify-content:center;


    align-items:center;


    gap:12px;



    transition:.35s;



}



.login-btn:hover{


    transform:
    translateY(-3px);



    box-shadow:

    0 15px 35px rgba(0,122,255,.35);



}



.login-btn:active{

    transform:scale(.97);

}




/*=========================================
        DIVIDER
=========================================*/


.divider{

    display:flex;

    align-items:center;

    gap:12px;


    margin:22px 0;


    color:#777;


}



.divider span{

    flex:1;

    height:1px;


    background:

    rgba(255,255,255,.1);


}



.divider p{

    font-size:13px;

}



/*=========================================
        SOCIAL LOGIN
=========================================*/


.social-login{


    width:100%;


    display:flex;


    gap:12px;



}




.social-login button{


    flex:1;


    height:46px;



    border-radius:13px;



    border:

    1px solid rgba(255,255,255,.08);



    background:

    #242427;



    color:#ddd;



    cursor:pointer;



    display:flex;


    justify-content:center;


    align-items:center;



    gap:8px;



    font-size:13px;



    transition:.3s;



}



.social-login button:hover{


    background:#2c2c30;



    border-color:

    rgba(0,122,255,.5);



    transform:

    translateY(-3px);



}



.social-login i{


    font-size:17px;



}



.google-btn i{

    color:#4285f4;

}



.github-btn i{

    color:white;

}



/*=========================================
        FOOTER
=========================================*/


.panel-footer{


    margin-top:25px;



    text-align:center;



    color:#888;



    font-size:13px;



}



.panel-footer a{


    color:#4da3ff;


    margin-right:5px;


    transition:.3s;


}



.panel-footer a:hover{


    color:white;


}




/*=========================================
        ERROR / SUCCESS BOX
=========================================*/


.login-error,
.login-success{


    width:100%;


    min-height:0;


    padding:0 15px;



    display:flex;


    justify-content:center;


    align-items:center;



    border-radius:12px;



    font-size:13px;



    overflow:hidden;



    opacity:0;



    margin-bottom:0;



    transition:.35s;



}



.login-error.show{


    min-height:35px;


    margin-bottom:12px;



    opacity:1;



    background:

    rgba(255,70,90,.12);



    border:

    1px solid rgba(255,70,90,.3);



    color:#ff6b81;



}



.login-success.show{


    min-height:35px;


    margin-bottom:12px;



    opacity:1;



    background:

    rgba(46,204,113,.12);



    border:

    1px solid rgba(46,204,113,.3);



    color:#2ecc71;



}




/*=========================================
        MOBILE
=========================================*/


@media(max-width:600px){



    .login-page{


        padding:20px;



    }



    .login-card{


        width:100%;


        max-width:380px;



        padding:25px 20px;



        border-radius:20px;



    }




    .panel-logo{


        width:55px;

        height:55px;



    }



    .panel-header h2{


        font-size:22px;


    }



    .panel-header p{


        font-size:13px;


    }



    .social-login{


        flex-direction:column;


    }



    .social-login button{


        width:100%;


    }



    .input-box{


        height:50px;


    }



    .login-btn{


        height:50px;


    }


}



























/*=========================================
        LOGIN BUTTON NEW STYLE
=========================================*/


.login-btn{

    width:100%;

    height:46px;


    border:none;

    border-radius:13px;

        position:relative;

    overflow:hidden;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;



    cursor:pointer;



    color:white;



    font-family:"Vazirmatn",sans-serif;


    font-size:14px;

    font-weight:600;



    background:

    linear-gradient(
        135deg,
        #2f3238,
        #1f2125
    );



    border:

    1px solid rgba(255,255,255,.12);



    box-shadow:

    inset 0 1px 0 rgba(255,255,255,.08),

    0 10px 25px rgba(0,0,0,.35);



    transition:.35s ease;



}



/* خط نور آبی ظریف */
.login-btn::before{

    content:"";

    position:absolute;

    inset:0;


    border-radius:13px;


    background:

    linear-gradient(
        120deg,
        transparent 20%,
        rgba(255,255,255,.15),
        transparent 80%
    );


    transform:translateX(-120%);


    transition:.6s ease;


    pointer-events:none;

}




.login-btn:hover{

    transform:translateY(-3px);


    border-color:

    rgba(0,122,255,.5);



    box-shadow:

    0 15px 35px rgba(0,122,255,.25);

}



.login-btn:hover::before{

    opacity:1;

}



.login-btn i{

    font-size:14px;

    transition:.3s;

}



.login-btn:hover i{

    transform:translateX(-5px);

}



.login-btn:active{

    transform:scale(.97);

}